<body class="bg-dark text-light">
    <div class="container d-flex justify-content-center align-items-center min-vh-100">
      <div class="col-md-6 bg-dark p-5 rounded shadow-sm">
        <h2 class="text-center mb-4">Registro de Usuario</h2>
        <form (ngSubmit)="onSubmit()">
          <div class="form-group mb-3">
            <label for="nombre_usuario_pub">Nombre Público</label>
            <input type="text" class="form-control bg-dark text-light border-light" id="nombre_usuario_pub" name="nombre_usuario_pub" [(ngModel)]="usuario.nombre_usuario_pub" required>
          </div>
    
          <div class="form-group mb-3">
            <label for="nombre_usuario_priv">Nombre Privado (Nombre de Usuario)</label>
            <input type="text" class="form-control bg-dark text-light border-light" id="nombre_usuario_priv" name="nombre_usuario_priv" [(ngModel)]="usuario.nombre_usuario_priv" required>
          </div>
    
          <div class="form-group mb-3">
            <label for="correo">Correo Electrónico</label>
            <input type="email" class="form-control bg-dark text-light border-light" id="correo" name="correo" [(ngModel)]="usuario.correo" required>
          </div>
    
          <div class="form-group mb-3">
            <label for="contraseña">Contraseña</label>
            <input type="password" class="form-control bg-dark text-light border-light" id="contraseña" name="contraseña" [(ngModel)]="usuario.contrasena" required>
          </div>
    
          <div class="form-group mb-3">
            <label for="imagen_perfil">URL de la Imagen de Perfil</label>
            <input type="text" class="form-control bg-dark text-light border-light" id="imagen_perfil" name="imagen_perfil" [(ngModel)]="usuario.imagen_perfil">
          </div>
    
          <div class="form-group mb-3">
            <label for="limite_personajes">Límite de Personajes</label>
            <input type="number" class="form-control bg-dark text-light border-light" id="limite_personajes" name="limite_personajes" [(ngModel)]="usuario.limite_personajes" value="3" readonly>
          </div>
    
    
          <button type="submit" class="btn btn-primary btn-block w-100">Registrarse</button>
        </form>
    
        <div class="text-center mt-3">
          <a [routerLink]="['/login']" class="btn btn-link text-light">¿Ya tienes una cuenta? Inicia Sesión</a>
        </div>
      </div>
    </div>
  </body>
  